@model ffxivList.Models.User

@{
    ViewData["Title"] = "Delete User";
}

<h2>@ViewData["Title"]</h2>

<h3>Are you sure you want to delete this user?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="UserId" />
        <dt>
            Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
           Email
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserEmail)
        </dd>
        <dt>
            Role
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserRole)
        </dd>
        <dt>
            Levemetes Completed
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserLevemetesCompleted)
        </dd>
        <dt>
            Crafts Completed
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserCraftsCompleted)
        </dd>
        <dt>
            Quests Completed
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserQuestsCompleted)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
