@model ffxivList.Models.AllUserCraft

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AllUserCraft</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="AllUserCraftID" />
        <dt>
            @Html.DisplayNameFor(model => model.UserCraftID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserCraftID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CraftID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CraftID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsComplete)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsComplete)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CraftName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CraftName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CraftLevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CraftLevel)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
