@model ffxivList.Models.AllUserCraft

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>AllUserCraft</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserCraftID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserCraftID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CraftID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CraftID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsComplete)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsComplete)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CraftName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CraftName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CraftLevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CraftLevel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AllUserCraftID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
