@model ffxivList.Models.Quest

@{
    ViewData["Title"] = "Delete Quest";
}

<h2>@ViewData["Title"]</h2>

<div class="alert alert-danger" role="alert">Are you sure you want to delete this quest?</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="QuestId" />
        <dt>
            Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuestName)
        </dd>
        <dt>
            Level
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuestLevel)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    </form>
</div>
<br/>
<br/>
<br/>
<div class="btn-group" role="group" aria-label="...">
    <a asp-action="IndexAdmin" class="btn btn-link" role="button">Back to List</a>
    <a asp-action="Edit" asp-route-id="@Model.QuestId" class="btn btn-success" role="button">Edit</a>
    <a asp-action="Details" asp-route-id="@Model.QuestId" class="btn btn-warning" role="button">Details</a>
</div>