@model ffxivList.Models.ModelContainer

@{
    ViewData["Title"] = "Index Admin";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Level
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Quest)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestLevel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.UserQuest.FirstOrDefault(l => l.QuestID == item.QuestID).IsComplete)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.QuestID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.QuestID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.QuestID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
