@model ffxivList.Models.AllUserModel

@{
    ViewData["Title"] = "Crafts";
    var completed = (100 * Model.User.UserCraftsCompleted) / Model.Crafts.Count;
}
<br />
<h2>@ViewData["Title"]</h2>
<br />

<b>Progress</b>
<div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="@Model.User.UserCraftsCompleted" aria-valuemin="0"
         aria-valuemax=" @Model.Crafts.Count" style="width: @completed%">
        @completed%
    </div>
</div>

<form asp-controller="AllUserCrafts" asp-action="Index" method="post" role="form">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Level</th>
                <th>Completed</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.AllUserCrafts.Count(); i++)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => Model.AllUserCrafts[i].CraftName)
                        <input asp-for="@Model.AllUserCrafts[i].CraftName" type="hidden" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.AllUserCrafts[i].CraftLevel)
                        <input asp-for="@Model.AllUserCrafts[i].CraftLevel" type="hidden" />
                    </td>
                    <td>
                        <input asp-for="@Model.AllUserCrafts[i].IsComplete" type="checkbox" />
                    </td>
                    <input asp-for="@Model.AllUserCrafts[i].CraftId" type="hidden" />
                    <input asp-for="@Model.AllUserCrafts[i].UserCraftId" type="hidden" />
                    <input asp-for="@Model.AllUserCrafts[i].UserId" type="hidden" />
                </tr>
            }
        </tbody>
    </table>
    <input type="submit" value="Save" class="btn btn-default" />
</form>