@model ffxivList.Models.Levemete

@{
    ViewData["Title"] = "Levemete Details";
}

<h2>@ViewData["Title"]</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LevemeteName)
        </dd>
        <dt>
            Level
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LevemeteLevel)
        </dd>
    </dl>
</div>
<div class="btn-group" role="group" aria-label="...">
    <a asp-action="IndexAdmin" class="btn btn-link" role="button">Back to List</a>
    <a asp-action="Edit" asp-route-id="@Model.LevemeteId" class="btn btn-success" role="button">Edit</a>
    <a asp-action="Delete" asp-route-id="@Model.LevemeteId" class="btn btn-danger" role="button">Delete</a>
</div>
