@model  ffxivList.Models.UserProfile

@{
    var leveCompleted = (100 * Model.LevemetesCompleted) / Model.LevemetesTotal;
    var questCompletes = (100 * Model.QuestsCompleted) / Model.QuestsTotal;
    var craftCompleted = (100 * Model.CraftsCompleted) / Model.CraftsTotal;
}

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <h2>@Model.ProfileName Profile</h2>
            <hr/>
            <div class="col-md-2">
                <img src="@Model.ProfileImage"
                     alt="" class="img-rounded img-responsive" />
            </div>
            <div class="col-md-4">
                <p>
                    <i class="glyphicon glyphicon-envelope"></i> @Model.ProfileEmail
                </p>
                <p>
                    <i class="glyphicon glyphicon-pawn"></i> @Model.ProfileRole
                </p>
                <p>
                    Levemetes Completed: @Model.LevemetesCompleted/@Model.LevemetesTotal
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="@Model.LevemetesCompleted" aria-valuemin="0"
                             aria-valuemax=" @Model.LevemetesTotal" style="width: @leveCompleted%">
                            @leveCompleted%
                        </div>
                    </div>
                </p>
                <p>
                    Crafts Completed: @Model.CraftsCompleted/@Model.CraftsTotal
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="@Model.CraftsCompleted" aria-valuemin="0"
                             aria-valuemax=" @Model.CraftsTotal" style="width: @craftCompleted%">
                            @craftCompleted%
                        </div>
                    </div>
                </p>
                <p>
                    Quests Completed: @Model.QuestsCompleted/@Model.QuestsTotal
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="@Model.QuestsCompleted" aria-valuemin="0"
                             aria-valuemax=" @Model.QuestsTotal" style="width: @questCompletes%">
                            @questCompletes%
                        </div>
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>