@model List<ffxivList.Models.Craft>

@{
    ViewData["Title"] = "Crafts Admin";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <td><h4>Name</h4></td>
            <td><h4>Level</h4></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CraftName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CraftLevel)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CraftID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CraftID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CraftID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
