@model ffxivList.Models.ModelContainer

@{
    ViewData["Title"] = "Index Admin";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Level
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Levemete) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LevemeteName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LevemeteLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.UserLevemete.FirstOrDefault(l => l.LevemeteID == item.LevemeteID).IsComplete)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LevemeteID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LevemeteID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LevemeteID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
