@model List<ffxivList.Models.AllUserLevemete>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<form asp-controller="AllUserLevemetes" asp-action="Index" method="post" role="form">
    <table class="table">
        <tbody>
            @for (int i = 0; i < Model.Count(); i++)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => Model[i].LevemeteName)
                        <input asp-for="@Model[i].LevemeteName" type="hidden" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model[i].LevemeteLevel)
                        <input asp-for="@Model[i].LevemeteLevel" type="hidden" />
                    </td>
                    <td>
                        <input asp-for="@Model[i].IsComplete" type="checkbox" />
                    </td>
                    <input asp-for="@Model[i].LevemeteID" type="hidden" />
                    <input asp-for="@Model[i].UserLevemeteID" type="hidden" />
                    <input asp-for="@Model[i].UserID" type="hidden" />
                    @*<td>
                            <a asp-action="Edit" asp-route-id="@item.UserCraftID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.UserCraftID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.UserCraftID">Delete</a>
                        </td>
                        <input asp-for="@Model.UserCraft.IsComplete" type="checkbox" />*@
                </tr>
            }
        </tbody>
    </table>
    <input type="submit" value="Save" class="btn btn-default" />
</form>